@{
    ViewData["Title"] = "Home Page";
}
<div class="jumbotron">
    <h1>Universidade do Saudade</h1>
</div>

<div class="row">
    <div class="col-md-4">
        <img src="~/images/university.jpg" class="img-responsive" alt="Imagem Responsiva">
    </div>
</div>
    
        